<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.setmeal.mapper.SetmealMapper">

    <resultMap type="Setmeal" id="SetmealResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
    </resultMap>

    <sql id="selectSetmealVo">
        select id, user_id, category_id, name, price, status, description, image, create_time, update_time, create_user, update_user from sys_setmeal
    </sql>

    <!--    查询套餐列表-->
    <select id="selectSetmealList" parameterType="Setmeal" resultMap="SetmealResult">
        <include refid="selectSetmealVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="status != null ">and status = #{status}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
        </where>
    </select>

    <!--    查询可选择的菜品列表-->
    <select id="selectDishList" parameterType="Long" resultType="com.ruoyi.dish.domin.DishEntity">
        select * from sys_dish where user_id=#{userId} and status=0
    </select>

    <!--    查询具体的某个套餐-->
    <select id="selectSetmealById" parameterType="Long" resultType="com.ruoyi.setmeal.domain.dto.SetmealDTO">
        select s.id, user_id, category_id, s.name, s.price, status, description, image, create_time, update_time, create_user, update_user
        from sys_setmeal s
        where s.id = #{id}
    </select>

    <!--    查询套餐关联的菜品列表-->
    <select id="selectSetmealDishById" parameterType="Long" resultType="Long">
        select d.dish_id from sys_setmeal_dish d
        where setmeal_id = #{id}
    </select>


    <insert id="insertSetmeal" parameterType="com.ruoyi.setmeal.domain.dto.SetmealDTO" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_setmeal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="categoryId != null">category_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="price != null">price,</if>
            <if test="status != null">status,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="image != null and image != ''">image,</if>
            create_time,
            <if test="createUser != null">create_user,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="categoryId != null">#{categoryId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="status != null">#{status},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="image != null and image != ''">#{image},</if>
            now(),
            <if test="createUser != null">#{createUser},</if>
        </trim>
    </insert>

    <insert id="insertSetmealDish" parameterType="com.ruoyi.setmeal.domain.entity.SetmealDish" useGeneratedKeys="true"
            keyProperty="id">
        insert into sys_setmeal_dish
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="setmealId != null">setmeal_id,</if>
            <if test="dishId != null">dish_id,</if>
            <if test="name != null">name,</if>
            <if test="price != null">price,</if>
            <if test="copies != null">copies,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="setmealId != null">#{setmealId},</if>
            <if test="dishId != null">#{dishId},</if>
            <if test="name != null">#{name},</if>
            <if test="price != null">#{price},</if>
            <if test="copies != null">#{copies},</if>
        </trim>
    </insert>


    <update id="updateSetmeal" parameterType="Setmeal">
        update sys_setmeal
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="categoryId != null">category_id = #{categoryId},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="price != null">price = #{price},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            update_time = now(),
            update_user = #{userId},
        </trim>
        where id = #{id} and user_id=#{userId}
    </update>

    <delete id="deleteSetmealById" parameterType="Long">
        delete from sys_setmeal where id = #{id}
    </delete>

    <delete id="deleteSetmealByIds" parameterType="String">
        delete from sys_setmeal where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSetmealDishs" parameterType="Long">
        delete from sys_setmeal_dish where setmeal_id=#{id}
    </delete>

</mapper>