<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.user.mapper.ShoppingCartMapper">

    <resultMap type="com.ruoyi.user.entity.po.ShoppingCart" id="ShoppingCartResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="image" column="image"/>
        <result property="userId" column="user_id"/>
        <result property="dishId" column="dish_id"/>
        <result property="setmealId" column="setmeal_id"/>
        <result property="dishFlavor" column="dish_flavor"/>
        <result property="number" column="number"/>
        <result property="amount" column="amount"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectShoppingCartVo">
        select id, name, image, user_id, dish_id, setmeal_id, dish_flavor, number, amount, create_time from sys_shopping_cart
    </sql>

    <select id="selectShoppingCartList" parameterType="com.ruoyi.user.entity.po.ShoppingCart" resultMap="ShoppingCartResult">
        <include refid="selectShoppingCartVo"/>
        <where>
            <if test="name != null  and name != ''">and name like concat('%', #{name}, '%')</if>
            <if test="image != null  and image != ''">and image = #{image}</if>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="dishId != null ">and dish_id = #{dishId}</if>
            <if test="setmealId != null ">and setmeal_id = #{setmealId}</if>
            <if test="dishFlavor != null  and dishFlavor != ''">and dish_flavor = #{dishFlavor}</if>
            <if test="number != null ">and number = #{number}</if>
            <if test="amount != null ">and amount = #{amount}</if>
        </where>
    </select>

    <select id="selectShoppingCartById" parameterType="int" resultMap="ShoppingCartResult">
        <include refid="selectShoppingCartVo"/>
        where id = #{id}
    </select>

    <insert id="insertShoppingCart" parameterType="com.ruoyi.user.entity.po.ShoppingCart" useGeneratedKeys="true" keyProperty="id">
        insert into sys_shopping_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="image != null">image,</if>
            <if test="userId != null">user_id,</if>
            <if test="dishId != null">dish_id,</if>
            <if test="setmealId != null">setmeal_id,</if>
            <if test="dishFlavor != null">dish_flavor,</if>
            <if test="number != null">number,</if>
            <if test="amount != null">amount,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="image != null">#{image},</if>
            <if test="userId != null">#{userId},</if>
            <if test="dishId != null">#{dishId},</if>
            <if test="setmealId != null">#{setmealId},</if>
            <if test="dishFlavor != null">#{dishFlavor},</if>
            <if test="number != null">#{number},</if>
            <if test="amount != null">#{amount},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateShoppingCart" parameterType="com.ruoyi.user.entity.po.ShoppingCart">
        update sys_shopping_cart
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="image != null">image = #{image},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="dishId != null">dish_id = #{dishId},</if>
            <if test="setmealId != null">setmeal_id = #{setmealId},</if>
            <if test="dishFlavor != null">dish_flavor = #{dishFlavor},</if>
            <if test="number != null">number = #{number},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShoppingCartById" parameterType="int">
        delete from sys_shopping_cart where id = #{id}
    </delete>

    <delete id="deleteShoppingCartByIds" parameterType="String">
        delete from sys_shopping_cart where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>